.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.result-are-open {
    border-color: transparent !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important; 
    box-shadow: -3px -2px 6px 0 rgba(32,33,36,0.28) !important;
}

.search-bar {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.search-bar-input {
    height: 2rem;
    width: 50vw;
    border-radius: 24px;
    outline: none;
    border: 1px solid #544f4f75;
    font-size: 13px;
    padding-left: .65rem;
    position: relative;
    transition: .3s;
    padding: 0 12px;
    padding-right: 28px;
}

.search-bar-input:focus {
    box-shadow: 2px 3px 3px 0 rgba(32,33,36,0.28);
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 2px;
    width: 15px;
    transform: translate(-50%, -50%);
}