
.city-details-container {
    padding: 5rem 6rem;;
}

.city-name {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: #544f4f;
    letter-spacing: .5px;
}

.city-summary {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.5vh;
}

.city-data-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.city-current-data-container{
    display: flex;
    justify-content: space-between;
    padding: 1vh 20%;
}

.city-left-container, .city-right-container {
    width: 50%;
}

.city-current-data-property-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.city-current-data-icon {
    width: 18%;
    color: #ffbf00;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-current-data-text {
    width: 82%;
    text-align: left;
    font-weight: 200;
}

.city-current-data-icon::before{
    padding-right: 10px;
}

.city-weather-icon {
    text-align: center;
    font-size: 40px;
    margin: 4vh auto;
    margin-bottom: 2vh;
    width: 100%;
    color: #f55e3a;
}

@media only screen and (max-width: 415px) {
    .city-data-container {
        flex-direction: column;
    }
    .city-left-container, .city-right-container {
        width: 100%;
    }
    .city-details-container {
        padding: 2.6rem 0rem;
    }
    .city-current-data-property-container {
        width: 167px;
    }
    .city-current-data-container {
        padding: 1vh 10%;
    }
    .city-name {
        padding: 0 25px;
        font-size: 18px;
    }
    .city-current-data-text {
        font-size: 14px;
    }
}